<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Tests" >

    <listeners>
        <listener class-name="testng.AnnotationTransformer"/>
    </listeners>
    <!--
          <test name="Cel - like Product">
              <parameter name="browser" value="chrome"/>
              <classes>
                <class name="tests.like.LikeProducts"/>
              </classes>
          </test>


                <test name="Find products">
                   <parameter name="browser" value="chrome"/>
                   <classes>
                                <class name="tests.products.ProductsTest"/>
                    </classes>
                </test>


            <test name="Cel - find product">
                <parameter name="browser" value="chrome"/>
                <classes>
                    <class name="tests.likeComment.LikeComment"/>
                </classes>
            </test>
             -->

               <test name="Cel - add to Chart">
                   <parameter name="browser" value="chrome"/>
                   <classes>
                       <class name="tests.chart.AddToChart"/>
                   </classes>
               </test>

    <!--
         <test name="Cel - add to Chart and go to Chart">
               <parameter name="browser" value="chrome"/>
               <classes>
                   <class name="tests.chart.AddToChartAndDelete"/>
               </classes>
           </test>

           <test name="Cel - go to Iphones">
               <parameter name="browser" value="chrome"/>
               <classes>
                   <class name="tests.products.Iphones"/>
               </classes>
           </test>

           <test name="Find products">
               <parameter name="browser" value="chrome"/>
               <classes>
                   <class name="tests.apple.ApplePrice"/>
               </classes>
           </test>

           <test name="Find products">
           <parameter name="browser" value="chrome"/>
           <classes>
               <class name="tests.products.ProduseleZilei"/>
           </classes>
           </test>

           <test name="Find products">
               <parameter name="browser" value="chrome"/>
               <classes>
                   <class name="tests.ultimeleProduse.UltimeleProduse"/>
               </classes>
           </test>

           <test name="Find products">
               <parameter name="browser" value="chrome"/>
               <classes>
                   <class name="tests.ultimeleProduse.CamereSupraveghere"/>
               </classes>
           </test>
       -->

  </suite>